#root{
    --primary-box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
    --border-white: rgb(232, 232, 232);
    --primary-bg: #FFEAB7;
    --site-gray: #828282;
    --site-red: #ff7e8b;
    --separator-gray: rgb(207, 207, 207);
    --inactive-text: #696969;
    --inactive-color: #FFEAB7 /* #FFB5B5*/;
    --filter-text: #9c9c9c;
    --heading-text: #lclclc /*rgb(232, 232, 232)*/;
    --collection-shadow: rgb(0 0 0 /8%) 0px 3px 12px;
    --tag-red: #d92662;
    --tag-blue: #256fef;
    --tag-green: #267e3e;
}