.header-searchBar{
    display: flex;
    flex: 2;
}

.search-icon{
    font-size: 20px;
    color: var(--site-gray);
    margin: 0px 12px;
}

.search-input{
    border: none;
    outline: none;
    width: 60%;
    font-size: 14px;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.header-search-container{
    height:54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: var(--primary-box-shadow);
    border: 1px solid var(--border-white);
    width: 90%;
}
